h1 {
  font-family: Ubuntu;
  font-size: 72px;
  color: white;
  margin-bottom:0px;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  color: white;
}

input {
  width: 40%;
  height: 30px;
  font-family: Roboto;
}

button {
  height: 35px;
}

select {
  height: 35px; 
}

p {
  color: white;
  font-family: Verdana;
  font-size: 14px
}

a {
  color: red;
  font-family: Verdana;
  font-size: 14px;
}

body {
  height:100%;
  margin:0;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}

#ajaxloader {
	width: 30px;
	height: 30px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	animation: spin 1s linear infinite;
}

#ajaxloader_dark {
	width: 30px;
	height: 30px;
	border: 8px solid #282828;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #282828;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from { transform: rotate(0deg);   opacity: 1.0; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 1.0; }
}

#weather {
	position: relative;
}

#loading_txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

label {
	font-family: Roboto;
	font-size: 14px;
	color: white;
}